/*color bars*/
.color-section{
    width: 50%;
    margin-left: 25.15%;
    margin-top: -14.15%;
}

.color-1{
    background-color: rgb(224, 22, 66);
    padding-top: 3.5%;
}
.color-2{
    background-color: rgb(224, 22, 22);
    padding-top: 3.5%;
}
.color-3{
    background-color: rgb(224, 39, 22);
    padding-top: 3.5%;
}
.color-4{
    background-color: rgb(224, 62, 22);
    padding-top: 3.5%;
}
.color-5{
    background-color: rgb(224, 96, 22);
    padding-top: 3.5%;
}
.color-6{
    background-color: rgb(224, 120, 22);
    padding-top: 3.5%;
}
.color-7{
    background-color: rgb(224, 177, 22);
    padding-top: 3.5%;
}
.color-8{
    background-color: rgb(224, 204, 22);
    padding-top: 3.5%;
}

/*Calculator shell*/
.main-body
{
    background-color: rgb(27, 26, 26);
}
.calc-body{
    margin-top: 10%;
    padding-left: 0%;
    width: 50%;
    margin-left: 25%;

    border-style: solid;
    border-color: rgb(224, 22, 66);
    background-color: rgb(223, 66, 126);

    text-align: center;
}
.main-calc-title{
    font-size: 300%;
    padding-bottom: 2%;
    margin-right: 50%;
    margin-top: -4.6%;
    color:rgb(0, 0, 0);
}

/*Todays date*/
.current-date{
    font-size: 250%;
    margin-left: 50%;
}

/*Descriptive program length and cost of program displays*/
.program-length{
    font-size: 150%;
    margin-left: -15%;
}

.inner-program-length{
    font-size: 110%;
    font-weight: bold;
}

.cost-of-program{
    font-size: 150%;
    margin-left: -17.5%;
}

.inner-cost-of-program{
    font-size: 110%;
    font-weight: bold;
}

.ppf-explanation{
margin-left: 36%;
}

/*User input boxes and sliders*/
.user-input-areas{

    margin-left: 10%;
    padding-top: 2%;
    font-size: 100%;
}

.down-payment{
    font-size: 140%;
}
.down-payment-box{
    width: 8%;
}

.monthly-payment{
    margin-left: -1.2%;
    font-size: 140%;
}
.monthly-payment-box{
    width: 8%;
}

.slider-bars{
    -webkit-appearance: none;
    appearance: none;
    width: 35%;
    height: 10%;
    /*Rounded Slider*/
    border-radius: 5%;
    background-color: rgba(168, 168, 168, 0.685);
    outline: none;
    opacity: 0.6;
    transition: 0.2s;
}

/*Payment recap*/
.payment-recap{

    padding-top: 2%;
    margin-left: 15%;
    width: 70%;
    font-size: 200%;
}

.months-to-pay{
    font-size: 110%;
    font-weight: bold;
}

.earliest-start-date{
    font-size: 110%;
    font-weight: bold;
}

.earliest-end-date{
    font-size: 110%;
    font-weight: bold;
}